/* 폰트 적용 시작 */
@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff")
      format("woff");
}

html {
  font-family: "LotteMartDream", sans-serif;
}

/* 폰트 적용 끝 */
body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.top-bar {
  height: 100px;
}
.con {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.h100p {
  height: 100%;
}

.top-bar__menu-box1 {
  background-color: rgb(180, 147, 152);
}

.flex {
  display: flex;
}

.flex-jc {
  justify-content: center;
}
.flex-ai {
  align-items: center;
}

li {
  flex: 1 0 0;
  background-color: plum;
  border: steelblue solid;
}
a {
  /* background-color: tomato; */
}
